[Unit]
Description=automaat
After=multi-user.target
After=network.target
After=docker.service

[Service]
Type=idle
ExecStart=/home/pirate/ballmer_peak_machine/automaat.py
KillSignal=SIGINT
Restart=on-failure
RestartSec=5s
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
